{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1 align="center">Notes</h1>

<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
        <li class="list-group-item">{{note.data}}</li>
        <!-- Delete button for each note -->
        <!-- This onClick will send a request to the backend that will delete the note on the backend -->
        <!-- Since we are in the for loop, the deleteNote function has access to note.id, which can be used for the request to the backend -->
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
    {% endfor %}
</ul>

<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>

</form>
{% endblock %}